@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
html{
	font-size: 62.5%;
}
body{
	font: 1.6rem 'Roboto Slab',sans-serif; /* 16px 62.5% => 1.000*/
	margin: 0;
}
h1,h2,h3,h4,ul,ol,p{
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 100;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
*{
	box-sizing: border-box;
}
/* theme css */
header{
    background: #2980b9;
 }
 header h1{
    text-align: center;
    line-height: 6.5rem;
    color: #fff;
    font-weight: 300;
 }
p,ul{
    max-width: 80rem;
    line-height: 2.6rem;
    margin: 2.0rem auto 0;
    background: #fafafa;
    border: solid 0.1rem #ccc;
    padding: 1.0rem;
}
ul li:nth-child(2n+1){
    background: #222;
    color: #fff;
    padding: 0.5rem;
}
main figure{
    max-width: 80rem;
    margin: 1rem auto;
}
figure h2{
    text-align: center;
}
section,footer{
    max-width: 80rem;
    margin: 2.0rem auto;
    background: #fafafa;
}
section > h2{
    text-align: center;
    background: #34495e;
    color: #fff;
    line-height: 4.5rem;
}
section > p {
    border: 0;
    padding: 1.0rem;
    margin: 0;

}
section address{
    padding: 0 1.0rem;
}
footer p{
    border: 0;
    text-align: center;
}
